@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


:root {
    --bg-color: #fff;
    --text-color: #000;
    --nav-bar-scrolled: #fff;
    --back-image: url("https://res.cloudinary.com/cypher01/image/upload/v1605306793/First-Humans-on-Mars-scaled_iinyty.webp");
}

[data-theme="dark"] {
    --bg-color: #343942;
    --text-color: #fff;
    --nav-bar-scrolled: #32363d;
    --back-image: url("https://res.cloudinary.com/cypher01/image/upload/v1605307520/LIFT-Mars_20the_20Red_20Planet-1600x900_oerwj2.webp");
}

::-webkit-scrollbar {
    width: 15px;
    height: 40px;
}
::-webkit-scrollbar-track-piece  {
    background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb:vertical {
    background-color: grey;
    border-radius: 10px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);

}


.intro, .about-me, #contact {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.intro {
    background-image: var(--back-image);
}

#project {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: grid;

}

#snippet {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: grid;

}

.intro div {
    font-size: 80px;
}


#about-me div {
    display: table;
    font-size: 25px;
    width: 80%;

}

a {
    color: var(--text-color);
}

a:hover {
    color: var(--text-color);
}

.contact-text {
    font-size: 30px
}

.intro-small {
    font-size: 40px;
}

.navigator {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none
    outline: none;
    display: none;
    color: var(--text-color);
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

.theme-switch-button {
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .intro div {
        font-size: 40px;
    }

    .intro-small {
        font-size: 25px;
    }


    #about-me div {
        display: table;
        font-size: 15px;
        width: 80%;

    }

    .contact-text {
        font-size: 20px
    }
}


.card {
    background-color: var(--bg-color);
    border: none;
    border-radius: 8px;
    border-top: 3px solid #85144b;

}

.fa-twitter {
    color: #1DA1F2;
}

.fa-linkedin-in {
    color: #2867B2;
}

.fa-react {
    color: #00d8ff;

}

.fa-aws {
    color: #ff9900;
}

.fa-docker {
    color: #0db7ed;
}

.fa-python {
    color: #ffde57;
}


